html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    -webkit-tap-highlight-color: transparent;
}

html,body {
    line-height: 1;
    font-family: 'Microsoft JhengHei Light','Microsoft JhengHei','Microsoft YaHei Light','Microsoft YaHei',sans-serif;
    font-size: 24px;
}

:focus {
    outline: none;
}

article,aside,canvas,details,figcaption,figure,
footer,header,menu,nav,section,summary {
    display:block;
}

nav li {
    list-style:none;
}

a {
    margin:0;
    padding:0;
    border:0;
    color: inherit;
    font-size:100%;
    text-decoration: none;
    vertical-align:baseline;
    background:transparent;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

input, select, button {
    vertical-align:middle;
    outline: none;
    border: none;
}

::-webkit-scrollbar {
    width:8px;
    height:8px;
}
::-webkit-scrollbar-track:vertical {
    background:#FF0000;
}
::-webkit-scrollbar-track-piece {
    background:#F5F5F5
}
::-webkit-scrollbar-thumb:vertical {
    background:#CCCCCC;
    border-radius:10px;
}
::-webkit-scrollbar-thumb:vertical:hover {
    background:#666666;
}



/*  end reset  */

.green {
    color: #70c570;
}

body {
    background: #f3f3f3;
}

header {
    height: 186px;
    width: 100%;
    min-width: 1170px;
    color: #fff;
    background: #70c570;
}
.header-wrap {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    position: relative;
}
.header-wrap .title {
    float: left;
    height: 100%;
}
.header-wrap h1 {
    font-size: 67px;
    line-height: 1;
    padding-top: 40px;
}
.header-wrap h4 {
    font-size: 34px;
    line-height: 80px;
}
.header-wrap ul {
    height: 40px;
    width: 670px;
    font-size: 24px;
    line-height: 40px;
    padding-left: 150px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-wrap ul li a {
    width: 140px;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    transition: .5s all cubic-bezier(0.71,1.7,0.77,1.24);
}
.header-wrap ul li a.cur {
    background: #6cb26c;
    box-shadow: 1px 4px #599e5b;
}
.header-wrap ul li a:hover {
    background: #6cb26c;
    box-shadow: 1px 4px #599e5b;
}
.header-wrap .user {
    position: absolute;
    height: 40px;
    right: 0;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-wrap .user-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.header-wrap .user-name {
    padding: 0 15px;
}







/*    main style    */



.site-nav-wrap {
    width: 100%;
    min-width: 1170px;
    height: 80px;
    background: #ececec;
}
.site-nav {
    width: 1170px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.site-nav-title {
    font-size: 24px;
    color: #7e8e8e;
    height: 100%;
    line-height: 80px;
    position: relative;
}
.site-nav-title::after {
    position: absolute;
    left: 50%;
    bottom: -20px;
    content: '';
    height: 0;
    width: 0;
    border: 10px solid transparent;
    border-bottom-color: #ececec;
    transform: scaleY(-1) translateX(-50%);
}
.site-nav-list li {
    float: left;
    padding-left: 20px;
}
.site-nav-list li a {
    display: inline-block;
    line-height: 24px;
    font-size: 14px;
    color: #000;
}
.site-nav .search {
    padding-left: 100px;
    height: 30px;
}
.site-nav .search .search-input {
    width: 430px;
    height: 100%;
    background: #fff;
    border-radius: 4px;
    color: #7e8e8e;
    padding-left: 20px;
    box-shadow: 2px 4px 4px rgba(126,142,142,0.2);
}
.site-nav .search .search-btn {
    width: 80px;
    height: 100%;
    line-height: 30px;
    background: #70c570;
    border-radius: 4px;
    color: #fff;
    margin-left: 15px;
    box-shadow: 2px 4px 4px rgba(126,142,142,0.2);
    letter-spacing: 2px;
}

/*  content-warp  */

.content-wrap {
    width: 1170px;
    margin: 0 auto;
}
.content-wrap .category {
    margin: 50px 0;
    color: #7e8e8e;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.content-wrap .category span {
    padding: 10px 10px;
    color: #7e8e8e;
    font-size: 14px;
}
.content-wrap .category span a {
    padding: 5px 10px;
    display: inline-block;
}


.goods {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.good-item {
    width: 270px;
    height: 270px;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 2px 4px 4px rgba(126,142,142,0.2);
    transition: 1s all cubic-bezier(0.71,1.7,0.77,1.24);
}
.good-item:hover {
    box-shadow: 2px 6px 20px rgba(126,142,142,0.6);
}
.good-item-img {
    width: 100%;
    height: 235px;
    border-radius: 6px;
    object-fit: contain;
    background: #fff;
}
.good-item-info {
    width: 100%;
    height: 35px;
    border-radius: 0 0 4px 4px;
    position: absolute;
    bottom: 0;
    background: #70c570;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}
.good-item-info span {
    padding: 0 5px;
    color: #fff;
}



/*  footer  */
footer {
    height: 350px;
    width: 100%;
    min-width: 1170px;
    background: #70c570;
    position: relative;
}
.footer-warp {
    height: 100%;
    width: 1170px;
}
.footer-warp::before {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 50px;
    bottom: 0;
    background: #65b166;
}